spring.datasource.url: jdbc:mysql://rm-bp1fcy1lh63d2504rzo.mysql.rds.aliyuncs.com:3306/data_db?serverTimezone=UTC
spring.datasource.username: root
spring.datasource.password: Fh198813
spring.datasource.driver-class-name: com.mysql.cj.jdbc.Driver
spring.datasource.max-idle: 10
spring.datasource.max-wait: 10000
spring.datasource.min-idle: 5
spring.datasource.initial-size: 5

jpa.hibernate.ddl-auto: update
jpa.hibernate.show-sql: true

server.port: 8080
server.servlet.timeout: 10
server.tomcat.uri-encoding: UTF-8


mybatis.configLocations:  classpath:mybatis-config.xml
mybatis.mapper-locations: classpath:mapper/*.xml


# Redis数据库索引（默认为0）
spring.redis.database: 0
# Redis服务器地址
spring.redis.host: 127.0.0.1
# Redis服务器连接端口
spring.redis.port: 6379
# Redis服务器连接密码（默认为空）
spring.redis.password:
# 连接池最大连接数（使用负值表示没有限制） 默认 8
spring.redis.lettuce.pool.max-active: 8
# 连接池最大阻塞等待时间（使用负值表示没有限制） 默认 -1
spring.redis.lettuce.pool.max-wait: -1
# 连接池中的最大空闲连接 默认 8
spring.redis.lettuce.pool.max-idle: 8
# 连接池中的最小空闲连接 默认 0
spring.redis.lettuce.pool.min-idle: 0

# rabbitmq
spring.rabbitmq.host: 101.132.134.250
spring.rabbitmq.port: 5672
spring.rabbitmq.username: admin
spring.rabbitmq.password: 198813
spring.rabbitmq.virtual-host: /
## 手动应答
spring.rabbitmq.listener.simple.acknowledge-mode: manual
## 消费端最小并发数
#spring.rabbitmq.listener.simple.concurrency: 5
## 消费端最大并发数
#spring.rabbitmq.listener.simple.max-concurrency: 10

# kakfa
spring:
  kafka:
    bootstrap-servers: 101.132.134.250:9092  #bootstrap-servers：连接kafka的地址，多个地址用逗号分隔
    listener:
      missing-topics-fatal: false
    consumer:
      group-id: myGroup
      enable-auto-commit: true
      auto-commit-interval: 100ms
      properties:
        session.timeout.ms: 15000
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
    producer:
      retries: 0 #若设置大于0的值，客户端会将发送失败的记录重新发送
      batch-size: 16384 #当将多个记录被发送到同一个分区时， Producer 将尝试将记录组合到更少的请求中。这有助于提升客户端和服务器端的性能。这个配置控制一个批次的默认大小（以字节为单位）。16384是缺省的配置
      buffer-memory: 33554432 #Producer 用来缓冲等待被发送到服务器的记录的总字节数，33554432是缺省配置
      key-serializer: org.apache.kafka.common.serialization.StringSerializer #关键字的序列化类
      value-serializer: org.apache.kafka.common.serialization.StringSerializer #值的序列化类
